db/
incremental_db/
output_files/
work/
*.wlf
modelsim.ini
*.sof
*.pof
*.rpt
*.summary
*.smsg
*.jdi
*.pin
*.qws
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
transcript
Simulation/*.cr.mti
Simulation/*.mpf
